body {
    
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3em;
}
h2 {
    font-family: 'Special Elite', cursive;
}

#page {
    max-width: 700px;
    margin: 0 auto;
}

p {
    
}

img {

}

nav a {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 10px dimgray;
    padding: 5px;
    transition: 2s;
    position: relative;
    top: -5px;
    color: black;
}

nav a:hover {
    background-color: aquamarine;
    transition: .5s;
    top: 0px;
    box-shadow: 0 5px 10px turquoise;
}

nav a:active {
    background-color: yellow;
    transition: .5s;
    top: 5px;
    box-shadow: 0 0px 0px turquoise;
}

nav a:visited {
    
}

nav ul li.active a {
    box-shadow: 0px 0px 0px dimgray;
    background-color: chartreuse; 
    top: 5px; 
} 

header nav {
    position: sticky;
    top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    font-weight: bold;
    margin: 0 5px 0 0;
}

address img, address span{
    vertical-align: middle;
}

address span {
    margin: 0 10px 0 0;
}

#portrait {
    float: right;
    max-width: 300px;
}